form{
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-left: 500px;
    flex-direction:column;
}
label{

    font-weight: bold;
    padding: 8px 0px;
    font-size: 15px;

}
input[type="text"],input[type = 'password']{
    display: block;
    width: 220px;
    padding: 6px 12px;
    font-size: 11px;
    line-height: 1.5;
    color: #897048;
    background-color: #fff;
}
button{
    width: 100px;

    font-weight: bold;
    padding: 8px 0px;
    margin: 15px 75px;
    font-size: 15px;
}
.error{
    color: #e41162;
}